* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
    
}

/*NAVBAR */

.navbar {      
                                             
    height: 80px;
    background-color: #036666;
    color: rgb(36, 35, 35);
    display: flex;
    align-items: center;
}



.navbar a {
    text-decoration: none;
    color: black;
    background-color: #036666;
    
}



.nav-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 50px;
    background-color: #036666;
    color: #219ebc;
}


.nav-intro {
    margin-left: 260px;
    font-size: 1.1rem;
    background-color: #036666;
}

.nav-intro a:hover{
    color: #219ebc;
}

.nav-me {
    margin-left: 130px;
    font-size: 1.1rem;
}

.nav-me a:hover{
    color: #219ebc;
}

.nav-project {
    margin-left: 130px;
    font-size:1.1rem;
}

.nav-project a:hover{
    color: #219ebc;
}

.nav-skill {
    margin-left: 130px;
    font-size: 1.1rem;
}

.nav-skill a:hover{
    color: #219ebc;
}

.nav-contact {
    margin-left: 130px;
    font-size: 1.1rem;
}

.nav-contact a:hover{
    color: #219ebc;
}

.nav-contact:hover{
    color: #219ebc;
}









/*INTRODUCTION*/

.intro2 {
    margin-top: 200px;
    margin-left: 100px;
    font-size: 20px;
}


.intro2 h1 {
    font-family: Georgia;
    color: black;
    margin-left: 700px;
   
}


#n2 {
    margin-bottom: 8px;
}




.intro2 p {
    color: rgb(17, 81, 83);
    line-height: 23px;
    margin-left: 700px;
}



.intro2 a {
    text-decoration: none;
    color: beige;
    background-color: #001523;
    border-radius: 4px;
    padding: 10px 10px;
    /* /display: inline-block; */

    margin-left: 700px;
}



.intro2 a:hover {
    background-color: #219ebc;
}



/*PORTFOLIO-IMAGE*/

.image {
    height: 470px;
    width: 400px;
    background-size: cover;
    position: absolute;
    bottom: 30px;
    left: 200px;
    border: 2px solid black;
    border-radius: 200px;
}




/*CONTENT*/

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #99e2b4;
    margin-top: 200px;
}


.box {
    height: 400px;
    width: 30%;
    background-color: #248277;
    padding: 20px 0px 15px;
    margin-top: 30px;
    
    
}


.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}


.box-content p{
    text-align: left;
    line-height: 24px;
}


.box-color {
    margin:20px 10px 20px 10px ;
    padding: 5px;
}




.box1 {
    height: 300px;
    width: 30%;
    background-color: #248277;
    padding: 20px 0px 15px;
    margin-top: 30px;
    
    
}



/*CONTACT-FORM*/

.contact-form h1 {
        
        margin: 10px 10px 10px 10px;
        border-radius: 10px;
        font-size: 2rem;
        text-align: center;
        background-color: #469d89;
        padding: 15px;
        width: 96%;
}


.contact-form form {
    text-align: center;
    margin-bottom: 60px;
    margin: 10px 0px 10px 10px;
    width: 40px;
    
}


.contact-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.contact-form form {
    font-size: 18px;
    width: 96%;
    padding: 15px;
    color: black;
    background-color: #469d89;
    border-radius: 10px;
    margin: 10px 0px 10px 10px;
    
}


.input-box input {
    font-size: 18px;
    width: 50%;
    color: black;
    background-color: #78c6a3;
    border-radius: 10px;
    margin: 10px 0px 10px 10px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
   
}



.contact-form form textarea {
    font-size: 18px;

    padding: 15px;
    color: black;
    background-color: #78c6a3;
    border-radius: 10px;  
    margin: 10px 0px 10px 10px;
   
}



.icon1 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon2 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.btn {
    padding: 10px 30px;
    font-size: 1rem;
    display: flex;
    margin-top: 20px;
    margin-left: 550px;
    background-color: #001523;
    color: white;
}


.btn:hover {
    background-color: #219ebc;
}




